/* style of banner section */
body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    position: relative;
    width: 1300px;
    height: 600px;
}

.banner-image {
    width: 1320px;
    height: 600px;
    margin-left: 100px;
    border-radius: 16px;
    margin-top: 50px;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
    text-align: center;
}

.banner-text h1 {
    color: white;
}

.offer {
    text-align: center;
    margin-top: 80px;
}

.offer-percentage {
    color: #FF0000;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.second-image {
    margin: 15px 300px 0px 300px;
    width: 600px;
    height: 350px;
    flex-shrink: 0;
}

.offer-holiday {
    color: #FF0000;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}

.offer-categories {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}


.party {
    position: relative;
}

.image-three {
    width: 1320;
    height: 600px;
    margin-left: 90px;
    margin-top: 50px;
    position: relative;
}

.midnight-party {
    position: absolute;
    bottom: 40%;
    margin-left: 150px;
}

.image-fourth {
    margin-left: 800px;
    margin-top: auto;
    position: absolute;
}

.welcome {
    color: whitesmoke;
    font-size: 50px;
}

.dolor {
    color: wheat;
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border: none;
}

.gift {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.portfolio {
    color: #070211;
    font-size: 48px;
    font-weight: 900;

}

.sit {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
}

.text-two {
    margin-left: 90px;
    margin-top: 80px;
}

.item-image {
    margin-left: 80px;

}

.Subscribe {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin-left: 80px;
    text-align: center;
}

h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
}
.top{
    border: none;
    width: 210px;
    height: 50px;
    text-align: center;
}
.sub {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    width: 210px;
    height: 50px;
    text-align: center;


}

.group-image {
    margin-top: 50px;
}

.email {
    display: flex;
}

.user {
    margin-left: 300px;
}

.last {
    margin-left: 10px;
    padding: 10px;
}

footer {
    width: 1500px;
    height: 500px;
    background-color: blue;
}

.address {
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.big {
    color: white;
    margin-top: 80px;
}

.call {
    margin-left: 700px;
    color: white;
    margin-top: 80px;
}

.footer-imag {
    margin-left: 600px;
    margin-top: 80px;
}

.finish {
    font-size: 24px;
    font-weight: 500px;
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
}

.dell {
    margin-left: 1000px;

}